<html>
    <head>
        <title>Python blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Python Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon premier post</a></h2>
            <p>test1:blablablablabla</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>test2: blablabla</p>
        </div>
    </body>
</html>